.button {
    font: inherit;
    border: 1px solid black;
    background: aquamarine;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: aqua;
  }
  
  .button:focus {
    outline: none;
  }